.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}


.navbar-brand {
  color: #898d8e !important;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-nav .nav-link {
  color: #cccccc !important;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00bcd4 !important;
}

/* Prevent section headers from hiding behind sticky navbar */
section {
  scroll-margin-top: 80px;
}
